html, body {
    margin: 0;
    padding: 0;
}


body {
    background-image: url('./images/backgrid.svg');
    background-size: 100px;
}

.navbar {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #035a94;
    padding: 10px;
    z-index: 6;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    position: fixed;
    top: 10px;
}

.letsgo {
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    color: black;
    font-size: 4vh;
    height: 40px;
    width: 50vh;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 0 5PX 0 black;
    margin-bottom: 4px;
    transition-duration: 0.5s;
    
}

.letsgo:hover {
    margin-top: 4px;
    margin-bottom: 0px;
    box-shadow: 0 0 transparent;
}

.letsgo:hover .button-icon {
    transform: translateX(40px) translateY(-18px) rotateZ(50deg);
    overflow: hidden;
    opacity: 0;
    
}

.button-icon {
    height: 25px;
    width: auto;
    position: relative;
    top: 2px;
    margin-left: 5px;
    transition-duration: 0.5s;
}

* {
    box-sizing: border-box;
  }
  
form {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    height: fit-content;
    width: 50vh;
    background-color: white;
    border: 4px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.rows {
    display: block;
    position: relative;
    margin: auto;
    padding: 5px;
}

.columns {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
    
.long {
        background-color: transparent;
        font-family: inherit;
        font-weight: inherit;
        position: relative;
        display: block;
        height: 30px;
        width: 150px;
    }

.short {
        background-color: transparent;
        font-family: inherit;
        font-weight: inherit;
        position: relative;
        display: block;
        height: 30px;
        width: 90px;
    }

.top {
    border: none;
}

.bottom {
    border-top-color: rgb(255, 255, 255);
    border-width: 2px;
    border-left: none; border-right: none; border-bottom: none;
}

.news-headline {
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    color: black;
    font-size: 4vh;
    background-color: white;
    margin: 0 0 10px 0;
    text-align: left;
}

.news {
    display: block;
    margin-top: 0;
    position: relative;
    width: 320px;
    height: 100%;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
}

.news a {
    text-decoration: none; color: black;
}

.news-icon {
    height: 20px; width: auto;
    position: relative;
    top: 10px;
    left: -6px;
    transition-duration: 0.5s;
}

.news-headline:hover .news-icon {
    transform: translateX(-10px) translateY(-4px) rotateZ(-5deg);
    overflow: hidden;
}

.planner, .news, .article {
    display: block;
    position: relative;
    margin-left: auto; margin-right: auto;
    padding: 10px;
}

.news-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 2.7vh;
    background-color: white;
    text-align: left;
    list-style-position: outside;
}

.nav-item {
    color: white;
    font-family : 'Quicksand', sans-serif;
    font-weight: 1000;
    display: inline;
    margin: auto;
    text-decoration: none;
    list-style: none;
}

.nav-item a {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 2.4vh;
}

.nav-item a:hover {
    color: #d1590a;
}

.nav-title {
    position: relative;
    margin: auto;
    z-index: 4;
    display: inline;
}

.title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    color: white;
    font-size: 5vh;
    position: relative;
}

.badge {
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    font-weight: 400;
    color: white;
    width: fit-content;
    text-align: center;
    padding: 3px;
    border-radius: 8px;
    background-color: rgb(209, 89, 10);
    font-size: 2vh;
}

.footer {
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    width: 100%;
    margin-left: 0;
    min-height: 20vh;
    padding: 20px;
    position: relative;
    margin-top: auto;
    bottom: 0; /* This will push the footer below the content */
}

.content {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 12vh; /* Adjust this value based on your design */
    min-height: 68vh;
}

.footer a {
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    font-size: 2.4vh;
    display: inline;
    margin: auto;
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

.footer a:before {
    content: "> ";
    color:rgb(209, 89, 10)
}

.footer a:hover {
    color: rgb(209, 89, 10);
}

.errorno {
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    font-size: 10vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.errortext {
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    font-size: 3vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.error-back-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    color: black;
    font-size: 4vh;
    height: 40px;
    width: 50vh;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 0 5PX 0 black;
    margin-bottom: 4px;
    transition-duration: 0.5s;
    
}

.error-back-button:hover {
    margin-top: 4px;
    margin-bottom: 0px;
    box-shadow: 0 0 transparent;
}

.error-back-button:hover .button-icon {
    transform: translateX(40px) translateY(-18px) rotateZ(50deg);
    overflow: hidden;
    opacity: 0;
}

@media (max-width: 380px) {
    .nav-item {
        display: none;
    }
}

.article a {
    text-decoration: none; color: black;
}

.article-headline {
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    color: black;
    font-size: 4vh;
    background-color: white;
    margin: 0 0 10px 0;
    text-align: left;
}

.article {
    display: block;
    margin-top: 0;
    position: relative;
    width: 320px;
    height: 100%;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
    margin-top: 7.5px; margin-bottom: 7.5px;
}

.article p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 2.7vh;
    margin: 0;
}