:root {
    --secondary: #120b4e;
    --text: white;
    --highlight: #bd711a;
}

body {
    background-image: url(photos/tramstation.png);
    background-repeat: no-repeat;
    background-size: auto 100vh;
}

#credits {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    text-shadow: var(--secondary) 0.5vw 0 2vw;
    font-size: 10px;
    right: 5px;
    bottom: 5px;
    position: absolute;
}

#title {
    display: block;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    text-shadow: var(--secondary) 0vw 0 3vw;
    height: 50px;
    font-size: 30px;
    justify-content: center;
    margin: auto;
    width: fit-content;
    position: relative;
    top: 10vh;
}

#name {
    display: inline-block;
}

.logo {
    display: inline-block;
    height: 55px;
    width: 55px;
    top: 8px;
    position: inherit;
    filter: drop-shadow(var(--highlight) 0vw 0 3vw);
}