:root {
    --primary: white;
    --secondary: black;
    --blue1: #0854bc;
    --blue2: #064296;
    --red1: #c52020;
    --red2: #750000;
    --yellow1: #f7ac03;
    --yellow2: #DDA31D;
    --yellowblack: #231a23;
    --green1: #00693e;
    --green2: #005c36;
    --greenblack: #2c122e;
    --inactive: #868686;    
}

body {
    overflow: auto;
    padding: none;
    margin: none;
}

.transport {
    display: grid;
    grid-template-columns: 10vh auto auto;
    grid-template-rows: auto 7vh auto auto auto;
  }

.transportLineSolid {
    grid-column: 1;
    z-index: 1;
    display: block;
    border-left: solid 0.6vh black;
    position: relative;
    margin: 0 auto;
    padding: 0;
}




.transportFrom, .transportTo {
    display: flex;
    flex-direction: row;
}

.transportHead {
    grid-column: 1;
    grid-row: 1;
    width: 6vh;
    height: 6vh;
    background-color: black;
    margin-left: auto; margin-right: auto;
    border-radius: 1.3vh;
    color: white;
    z-index: 3;
    display: flex;
    overflow: hidden;
    
}

.transportHead img {
    width: 3.4vh;
    height: auto;
    position: relative;
    display: block;
    margin: auto;
    justify-self: center;
}

.transportName {
    font-family: Montserrat;
    font-weight: 600;
    margin-top: -0.1vh;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 3.1vh;
}

.transportDetails {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: -0.37vh;
    padding-top: 0;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 2.1vh;
    font-style: italic;
}

.transportHeader {
    padding: 0;
    margin: 0;
}

.transportDot {
    grid-column: 1;
    z-index: 3;
    border: 0.7vh solid black;
    border-radius: 1vh;
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.a {
    grid-row: 2;
    grid-column: 1;
}

.transportLineBrokenDotting {
    width: 0.7vh;
    height: 0.7vh;
    border-radius: 1vh;
    background-color: black;
    margin: auto;
    position: relative;
}

.transportLineBroken {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto; margin-right: auto;
    height: 100%;
}

.transportLineBroken :first-child {
    width: 1vh;
    height: 1vh;
}

.transportLineSolid.a {
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    height: auto;
}

.transportLineSolid.xa {
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    height: 50%;
    grid-row: 1;
    grid-column: 1;
}

.b {
    grid-row: 3;
    grid-column: 1;
}



.c {
    grid-row: 4;
    grid-column: 1;
}

.transportLineSolid.c {
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    height: 50%;
}