:root {
    --primary: white;
    --secondary: black;
    --blue1: #0854bc;
    --blue2: #064296;
    --red1: #c52020;
    --red2: #750000;
    --yellow1: #f7ac03;
    --yellow2: #DDA31D;
    --yellowblack: #231a23;
    --green1: #00693e;
    --green2: #005c36;
    --greenblack: #2c122e;
    --inactive: #868686;    
}

body {
    overflow: auto;
    padding: none;
    margin: none;
}

.transport {
    display: grid;
    grid-template-columns: 10vh auto auto;
    grid-template-rows: auto 7vh auto 7vh;
  }


.transportHead {
    grid-column: 1;
    grid-row: 1;
    height: 7vh;
    width: 7vh;
    background-color: black;
    border-radius: 1.2vh;
    justify-content: center;
    align-items: center;
    display: flex;
    align-self: center;
    justify-self: center;
}

.transportHead .transportIcon {
    width: 60%;
    height: auto;
}

.transport * {
    font-family: Montserrat;
    color: var(--secondary)
}

.transportHeader {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.transportName {
    font-weight: 700;
    font-size: 4.5vh;
}

.transportDetails {
    font-size: 2.8vh;
    font-style: italic;
}

.transportStatus {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.onTime * {
    color: var(--green1);

}

.transportTime, .transportPlace {
    align-self: center;
}

.transportTime, .transportPlace, .transportDuration, .transportMore {
    font-size: 3vh;
    margin-right: 1vh;
}

.transportStatus * {
    margin-right: 0.8vh;
}

.transportUntilIcon {
    font-size: 4.2vh !important;
    padding-top: 0.01vh;
}

.xa {
    grid-column: 1;
    grid-row: 1;
}

.a {
    grid-column: 1;
    grid-row: 2;
}

.b {
    grid-column: 1;
    grid-row: 3;
}

.c {
    grid-column: 1;
    grid-row: 4;
}

.transportLineSolid {
    height: auto;
    width: 0.5vh;
    background-color: black;
    justify-self: center;
    display: flex;
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 0;
    border: none 0px;
}

.transportLineDotted {
    height: auto;
    justify-self: center;
}

.transportDot {
    height: 0.7vh;
    width: 0.7vh;
    border-radius: 50%;
    border: 0.6vh black solid;
    background-color: white;
    justify-self: center;
    align-self: center;
    display: flex;
    position: relative;
}